# Advanced Python Programming Lab Program5

Write a python script that performs basic operations using MySQL database and a corresponding Python database adapter.

Output:
    Connection sucsessful....
    Users Table created...
    Inserting a few rows into the database...
    Arun    7000
    Arjun   7001
    Aditya  7200
    UPDATE users 'Arjuna2' uid to 7001
    Arun	7000
    Arjuna2	7001
    Aditya	7200
    Users Table Droped...

In [3]:
import mysql.connector as mysql
try:
    con=mysql.connect(host='localhost',user='root',password='',database='srivathsa')
    print('Connection Successful...')
except Exception as e:
    print(e)

Connection Successful...

In [4]:
cur=con.cursor()
cur.execute('drop table users')

In [5]:
cur=con.cursor()
cur.execute('CREATE TABLE users(login VARCHAR(8),uid INT)')
print('Users Table Created....')

Users Table Created....

In [6]:
print(' Inserting a few rows into the database...')
cur.execute('INSERT INTO users VALUES("Arun",7000)')
cur.execute('INSERT INTO users VALUES("Arjun",7001)')
cur.execute('INSERT INTO users VALUES("Aditya",7200)')
print('rows inserted into table....')

 Inserting a few rows into the database...
rows inserted into table....

In [7]:
cur.execute("SELECT * FROM users")
for data in cur.fetchall():
    print("%s\t%s" % data)

Arun	7000
Arjun	7001
Aditya	7200

In [8]:
print('UPDATE users "Sri" uid to 7001')
cur.execute("UPDATE users SET login='Sri' WHERE uid='7001'")
cur.execute('SELECT * from users')
for data in cur.fetchall():
    print("%s\t%s" % data)

UPDATE users "Sri" uid to 7001
Arun	7000
Sri	7001
Aditya	7200

In [9]:
print('Users Table Droped...')
cur.close()
con.commit()
con.close()

Users Table Droped...