# Advanced Python Programming Lab Program6

Write a python script that performs basic operations using SQLite Database and a corresponding Python database adapter

Output:
    Connection sucsessful....
    Users Table created...
    Inserting a few rows into the database...
    Arun    7000
    Arjun   7001
    Aditya  7200
    Users Table Droped...

In [1]:
import sqlite3 as sqlite
cn=sqlite.connect('test.db')
print("Connection Successful...")

Connection Successful...

In [2]:
cur=cn.cursor()
cur.execute('drop table users')

In [3]:
cur=cn.cursor()
cur.execute('CREATE TABLE users(login VARCHAR(8), uid INTEGER)')
print('Users Table created...')

Users Table created...

In [4]:
print('Inserting a few rows into the database...')
cur.execute('INSERT INTO users VALUES("Arun",7000)')
cur.execute('INSERT INTO users VALUES("Arjun",7001)')
cur.execute('INSERT INTO users VALUES("Aditya",7200)')
print('rows inserted into table...')

Inserting a few rows into the database...
rows inserted into table...

In [5]:
cur.execute('SELECT * from users')
for eachUser in cur.fetchall():
    print(eachUser[0],'\t',eachUser[1])

Arun 	 7000
Arjun 	 7001
Aditya 	 7200

In [6]:
print('Users Table Droped...')
cur.close()

Users Table Droped...